<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico" href="/img/favicon.ico" />
    <title>Personal</title>
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">   Google web font "Open Sans" -->
    <link rel="stylesheet" href="/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">

    <link rel="stylesheet" href="/css/demo.css" th:href="@{/css/demo.css}"/>
    <link rel="stylesheet" href="/css/templatemo-style.css" th:href="@{/css/templatemo-style.css}">

</head>

<body>

<div id="particles-js"></div>

<ul class="cb-slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<div class="container-fluid">
    <div class="row cb-slideshow-text-container ">
        <div class= "tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section">
            <header class="mb-5"><h1 th:text="#{LOGIN_TIP}">WhiteCherry</h1></header>
            <p th:text="#{LOGIN_WELCOME}" class="mb-5"><!--A sign-up letter template with three background images shuffling by fade in out movements.--> Thank you for visiting our site!</p>
            <p style="color: red" th:text="${ERROR_MESSAGE}" th:if="${not #strings.isEmpty(ERROR_MESSAGE)}"></p>
            <form role="form" action = "/loginIn" method="post" class="subscribe-form">
                <div class="row form-section">

                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <input name="name" type="text" class="form-control" id="contact_email" placeholder="Your Name..." th:placeholder="#{LOGIN_NAME}" required/>
                        <input name="password" type="password" class="form-control" id="" placeholder="Your Password..." th:placeholder="#{LOGIN_PASSWORD}" required/>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        <button type="submit" class="tm-btn-subscribe" th:text="#{LOGIN_LOGIN}">Login</button>
                    </div>

                </div>
            </form>

            <div class="tm-social-icons-container text-xs-center">
                <!-- <a href="#" class="tm-social-link"><i class="fa fa-facebook"></i></a>  -->
                <!-- <a href="#" class="tm-social-link"><i class="fa fa-google-plus"></i></a> -->
                <!-- <a href="#" class="tm-social-link"><i class="fa fa-twitter"></i></a> -->
                <!-- <a href="#" class="tm-social-link"><i class="fa fa-linkedin"></i></a> -->
            </div>

        </div>
    </div>
    <div class="footer-link"  >
        <p>Copyright © 2018 Your Company   - Design: <a rel="nofollow" href="#" target="_parent">Whitecherry</a></p>
        <p>More information consulting E-mail: 1158943476@qq.com <a href="" target="_blank" title=""></a></p>
        <p>滇ICP备19010907号</p>
        <a class="btn btn-sm" th:href="@{/login(l='zh_CN')}">中文</a>
        <a class="btn btn-sm" th:href="@{/login(l='en_US')}">English</a>
    </div>
</div>
<script type="text/javascript" src="/js/modernizr.custom.86080.js" th:href="@{/js/modernizr.custom.86080.js}"></script>
<script type="text/javascript" src="/js/particles.js" th:href="@{/js/particles.js}"></script>
<script type="text/javascript" src="/js/app.js" th:href="@{/js/app.js}"></script>
</body>

</html>